Source: libcoda-dev
Section: devel
Priority: extra
Maintainer: Alexander Pankov <pianist@usrsrc.ru>
Standards-Version: 3.7.2
Build-Depends: cmake, debhelper (>= 9), libexpat-dev
Homepage: https://github.com/bachan/coda

Package: libcoda-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
         libc6 (>= 2.4),
         libgcc1 (>= 1:4.1.1),
         libstdc++6 (>= 4.5.0),
         libexpat1-dev (>= 2.0)
Description: Coda developement library
  Coda developement library

